# git ignore file

# Compiled source #
###################
*.pdb
*.dat
*.version
*.user


Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

#ResharperFolder
/FlickrApp/packages/*
/FlickrApp/FlickrApp/PerformanceLogs/*
/FlickrApp/FlickrApp/FlickrNet
/FlickrApp/FlickrApp/Toolkit.Content

